.LoginForm__wrapper{
    background: #FFFFFF;
    box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
}
.LoginForm__wrapper__form {
    max-width: 365px;
    width: 100%;
    display: flex;
    align-items : center;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
}

.LoginForm__title {
    color: #0D1C41;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 30px;
    font-weight: 400;
}
.submitButton {
    height: 57px;
    border: 1px solid #193554;
    border-radius: 10px;
    background: transparent;
    transition: all 0.2s;
    width: 100%;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #0D1C41;
    &:hover{
        transition: all 0.2s;
        box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.2);
    }
    &:focus{
        box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.0);
        transition: all 0.2s;
    }
}
.submitContainer{
    max-width: 240px;
    width: 100%;
    display: flex;
    align-items : center;
    flex-direction: column;
}
.registrationLink{
    margin-top: 36px;
    cursor: pointer;
    text-decoration: none;
    color: #0D1C41;
}