.UsefulButtons{
    margin-top: 110px;
    display: flex;
    align-items: center;
    flex-direction: column;
    @media(max-width: 730px){
        flex-direction: row;
        justify-content: space-between;
    }
    @media(max-width: 510px){
        flex-direction: column;
        justify-content: none;
    }
}
.UsefulButtons__buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    max-width: 870px;
    width: 100%;
    margin-top: 58px;
    @media(max-width: 730px){
        flex-direction: column;
        margin-top: 0;
    }
    @media(max-width: 510px){
        flex-direction: column;
        margin-top: 22px;
    }
   
}