.modeH1{
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-size: 48px;
    line-height: 57px;
    text-transform: uppercase;
    color: #0D1C41;
    text-align: center;

    @media(max-width: 1000px){
        font-size: 40px;
    }
}
.modeH2{
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    color: #0D1C41;
    text-align: center;

    @media(max-width: 1000px){
        font-size: 26px;
    }
}
.modeH3{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #0D1C41;
    text-align: center;
    
}
.modeH4{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #4A607A;
    text-align: center;
}   