.TriggersList{
    display: flex;
    justify-content: space-between;
    margin-top: 23px;
    height: 627px;
    @media(max-width:1000px){
        display: block;
        width: 100%;
        height: auto;
    }
}