.Navbar {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.Navbar__wrapper {
  padding: 0px 40px;
  max-width: 1160px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Navbar__wrapper .logo {
  background: url(../../../assets/images/UI-images/Navbar-images/Logo.svg) no-repeat center center/cover;
  width: 52px;
  height: 58px;
}

.Navlist-Telephone {
  display: flex;
  align-items: center;
}
@media (max-width: 1000px) {
  .Navlist-Telephone {
    display: none;
  }
}
.Navlist-Telephone__list {
  display: flex;
  align-items: center;
  list-style: none;
}
.Navlist-Telephone__list__item {
  position: relative;
  text-decoration: none;
  cursor: pointer;
  font-family: "SF Pro Display";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-right: 59px;
}
.Navlist-Telephone__list__item:hover {
  color: #000000;
  transition: all 0.4s;
  color: var(--bs-link-hover-color);
}
@media (max-width: 1030px) {
  .Navlist-Telephone__list__item {
    margin-right: 40px;
  }
}
.Navlist-Telephone__list__item:last-child {
  margin-right: 0;
}
.Navlist-Telephone__list__item_open {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-right: 37px;
}
.Navlist-Telephone__list__item_open:last-child {
  margin-right: 0;
}
.Navlist-Telephone__list__item_open__block {
  display: flex;
  align-items: center;
}
.Navlist-Telephone__list__item_open__text {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.Navlist-Telephone .Telephone {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-left: 36px;
}
@media (max-width: 1070px) {
  .Navlist-Telephone .Telephone {
    font-size: 20px;
  }
}

#City-nav {
  font-weight: 500;
}

.dropdown-toggle {
  color: #000000;
}

.arrow__openIcon {
  display: inline;
  background: url(../../../assets/images/UI-images/Navbar-images/OpenIcon.svg) no-repeat center center/cover;
  width: 12px;
  height: 8px;
  transform: rotate(0deg);
  transition: all 0.2s;
  position: relative;
  top: 3px;
  margin-left: 10px;
}

.arrow__openIcon_rotated {
  display: inline;
  background: url(../../../assets/images/UI-images/Navbar-images/OpenIcon.svg) no-repeat center center/cover;
  width: 12px;
  height: 8px;
  transform: rotate(180deg);
  transition: all 0.2s;
  position: relative;
  top: 3px;
  margin-left: 10px;
}

.Personal-nav {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
@media (max-width: 1000px) {
  .Personal-nav {
    display: none;
  }
}
.Personal-nav h5 {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  white-space: nowrap;
  color: #193554;
}
.Personal-nav__icon {
  background: url(../../../assets/images/UI-images/Navbar-images/Account-icon.svg) no-repeat center center/cover;
  width: 28px;
  height: 28px;
  margin-left: 14px;
}

.Burger-button {
  display: none;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .Burger-button {
    display: block;
  }
}
.Burger-button__el {
  transition: all 0.1s ease;
  margin-top: 13px;
  width: 40px;
  background-color: #0D1C41;
  height: 2px;
}
.Burger-button__el:first-child {
  margin-top: 0;
}

.Burger-button__el_active {
  width: 30px;
  background-color: #0D1C41;
  height: 2px;
  margin-top: 13px;
  transition: all 0.1s ease;
  cursor: pointer;
}

.NavDropItems {
  margin-top: 10px;
  max-height: 300px;
  overflow-y: scroll;
}

.img-loader-cont {
  height: 50px;
  width: 84px;
  display: flex;
}
.img-loader-cont img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}/*# sourceMappingURL=Navbar.css.map */