@keyframes flip-horizontal-bottom {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(-180deg);
  }
}
.flip-horizontal-bottom {
  animation: flip-horizontal-bottom 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.1s reverse none;
}

.Trigger {
  box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
  border-radius: 10px;
  background-color: #FFFFFF;
  border: 1px solid transparent;
  cursor: pointer;
  height: 600px;
  width: 371px;
  display: flex;
  justify-content: center;
  transition: all 0.4s;
}
@media (max-width: 1187px) {
  .Trigger {
    width: 330px;
  }
}
@media (max-width: 1000px) {
  .Trigger {
    height: 210px;
    width: auto;
  }
}
@media (max-width: 710px) {
  .Trigger {
    width: 100%;
    height: auto;
    margin-top: 30px;
  }
}

.Img_and_Title {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 1000px) {
  .Img_and_Title {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (max-width: 710px) {
  .Img_and_Title {
    max-width: 290px;
    padding-top: 30px;
  }
}

.TriggerDirty {
  border: 1px solid #A89060;
  box-shadow: -2px 7px 18px -5px rgba(48, 45, 38, 0.3);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.4s;
  height: 626px;
  width: 371px;
  display: flex;
  justify-content: center;
}
@media (max-width: 1000px) {
  .TriggerDirty {
    flex-direction: row;
    height: 210px;
    width: auto;
    justify-content: space-around;
  }
}
@media (max-width: 710px) {
  .TriggerDirty {
    width: 100%;
    height: auto;
    margin-top: 30px;
  }
}

.Trigger__title {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 37px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #0D1C41;
  max-width: 274px;
}
@media (max-width: 1000px) {
  .Trigger__title {
    margin-left: 90px;
  }
}
@media (max-width: 840px) {
  .Trigger__title {
    margin-left: 60px;
  }
}
@media (max-width: 780px) {
  .Trigger__title {
    margin-left: 40px;
  }
}
@media (max-width: 730px) {
  .Trigger__title {
    margin-left: 20px;
  }
}
@media (max-width: 710px) {
  .Trigger__title {
    margin-left: 10px;
  }
}
@media (max-width: 1000px) {
  .Trigger__title {
    margin-top: 0 !important;
  }
}
@media (max-width: 710px) {
  .Trigger__title {
    font-size: 26px;
  }
}

.Trigger__image-cont {
  margin-top: 70px;
}
@media (max-width: 1000px) {
  .Trigger__image-cont {
    order: -1;
    margin-top: 0;
  }
}
.Trigger__image-cont img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.Trigger__elements-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1000px) {
  .Trigger__elements-container {
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
}
@media (max-width: 710px) {
  .Trigger__elements-container {
    flex-direction: column;
    justify-content: inherit;
  }
}

@media (max-width: 1000px) {
  .buttons {
    margin-top: 0 !important;
  }
}
@media (max-width: 710px) {
  .buttons {
    padding-bottom: 30px;
    margin-top: 55px !important;
  }
}/*# sourceMappingURL=Trigger.css.map */