:root{
    --bs-link-hover-color: #b38c3f !important;
}

*,::before,::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
._container-1{
    max-width: 1260px ;
    width: 100%;
    padding: 0px 20px;
    margin: 0px auto;
}
@media(max-width: 1440px){
    ._container-1{
        max-width: 1180px;
    }
}
h1,h2,h3,h4,h5, ul{
    margin-bottom: 0 !important;
}
.NoNews{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

@-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  

.text-focus-in{
	-webkit-animation: text-focus-in 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.1s both;
	        animation: text-focus-in 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.1s both;
}
