.InsuranceProg {
  background: #FFFFFF;
  box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
  border-radius: 10px;
  border: 1px solid transparent;
  overflow: hidden;
  transition: all 0.4s;
  max-width: 549px;
  width: 100%;
  cursor: pointer;
}
@media (max-width: 1160px) {
  .InsuranceProg {
    max-width: 500px;
  }
}
@media (max-width: 1065px) {
  .InsuranceProg {
    max-width: 460px;
  }
}

.InsuranceProgAnimationLeft {
  transform: translateX(-1000px);
  background: #FFFFFF;
  box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
  border-radius: 10px;
  border: 1px solid transparent;
  overflow: hidden;
  transition: all 0.4s;
  max-width: 549px;
  width: 100%;
  cursor: pointer;
}
@media (max-width: 1160px) {
  .InsuranceProgAnimationLeft {
    max-width: 500px;
  }
}
@media (max-width: 1065px) {
  .InsuranceProgAnimationLeft {
    max-width: 460px;
  }
}

.InsuranceProgAnimationRight {
  transform: translateX(1000px);
  background: #FFFFFF;
  box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
  border-radius: 10px;
  border: 1px solid transparent;
  overflow: hidden;
  transition: all 0.4s;
  max-width: 549px;
  width: 100%;
  cursor: pointer;
}
@media (max-width: 1160px) {
  .InsuranceProgAnimationRight {
    max-width: 500px;
  }
}
@media (max-width: 1065px) {
  .InsuranceProgAnimationRight {
    max-width: 460px;
  }
}

.InsuranceProgDirty {
  background: #FFFFFF;
  border: 1px solid #A89060;
  box-shadow: -2px 7px 18px -5px rgba(48, 45, 38, 0.3);
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.4s;
  max-width: 549px;
  width: 100%;
  cursor: pointer;
}
@media (max-width: 1160px) {
  .InsuranceProgDirty {
    max-width: 500px;
  }
}
@media (max-width: 1065px) {
  .InsuranceProgDirty {
    max-width: 460px;
  }
}

.containerForWrapperProg {
  padding: 38px;
}
@media (max-width: 1000px) {
  .containerForWrapperProg {
    padding: 26px 30px 29px 30px;
  }
}
@media (max-width: 1000px) {
  .containerForWrapperProg {
    padding: 25px 40px 28px 40px;
  }
}
@media (max-width: 320px) {
  .containerForWrapperProg {
    padding: 23px 27px 34px 20px;
  }
}

.iconInfo {
  width: 20px;
  height: 20px;
  background: url(../../../assets/images/Main-images/infoIcon.svg) no-repeat center center/cover;
  margin-left: 14px;
}

.InsuranceProg__wrapper {
  display: flex;
}
@media (max-width: 480px) {
  .InsuranceProg__wrapper {
    flex-wrap: wrap;
  }
}
@media (max-width: 395px) {
  .InsuranceProg__wrapper {
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .InsuranceProg__wrapper__Title-Image {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 320px) {
  .InsuranceProg__wrapper__Title-Image {
    justify-content: space-between;
  }
}
.InsuranceProg__wrapper__Title-Image__Title__SubTitle {
  display: flex;
  align-items: center;
}
.InsuranceProg__wrapper__Title-Image__Title__SubTitle h2 {
  font-family: "SF Pro Display";
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}
@media (max-width: 1000px) {
  .InsuranceProg__wrapper__Title-Image__Title__SubTitle h2 {
    font-size: 16px;
  }
}
.InsuranceProg__wrapper__Title-Image__Title__Title {
  font-family: "SF Pro Display";
  font-weight: 600;
  font-size: 30px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 10px;
}
@media (max-width: 1000px) {
  .InsuranceProg__wrapper__Title-Image__Title__Title {
    font-size: 26px;
    margin-top: 6px;
  }
}
.InsuranceProg__wrapper__Title-Image__Image {
  margin-top: 65px;
}
@media (max-width: 1000px) {
  .InsuranceProg__wrapper__Title-Image__Image {
    margin-top: 26px;
  }
}
@media (max-width: 480px) {
  .InsuranceProg__wrapper__Title-Image__Image {
    margin-top: 0px;
    margin-left: 36px;
  }
}
@media (max-width: 430px) {
  .InsuranceProg__wrapper__Title-Image__Image {
    margin-left: 10px;
  }
}
.InsuranceProg__wrapper__Title-Image__Image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
.InsuranceProg__wrapper__textBlocks {
  margin-left: 69px;
}
@media (max-width: 1168px) {
  .InsuranceProg__wrapper__textBlocks {
    margin-left: 20px;
  }
}
@media (max-width: 395px) {
  .InsuranceProg__wrapper__textBlocks {
    margin-top: 34px;
  }
}
@media (max-width: 480px) {
  .InsuranceProg__wrapper__textBlocks {
    margin-left: 0px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 395px) {
  .InsuranceProg__wrapper__textBlocks {
    flex-direction: column;
    justify-content: center;
  }
}
.InsuranceProg__wrapper__textBlocks__item {
  margin-top: 38px;
}
@media (max-width: 1168px) {
  .InsuranceProg__wrapper__textBlocks__item {
    margin-left: 15px;
  }
}
@media (max-width: 480px) {
  .InsuranceProg__wrapper__textBlocks__item {
    padding-top: 23px;
    margin-left: 0px;
  }
}
.InsuranceProg__wrapper__textBlocks__item:first-child {
  margin-top: 0px;
}
@media (max-width: 480px) {
  .InsuranceProg__wrapper__textBlocks__item:first-child {
    padding-right: 120px;
  }
}
@media (max-width: 395px) {
  .InsuranceProg__wrapper__textBlocks__item:first-child {
    padding-right: 0px;
  }
}
@media (max-width: 480px) {
  .InsuranceProg__wrapper__textBlocks__item:last-child {
    margin-top: 34px;
  }
}
@media (max-width: 1000px) {
  .InsuranceProg__wrapper__textBlocks__item {
    text-align: right;
  }
}
@media (max-width: 480px) {
  .InsuranceProg__wrapper__textBlocks__item {
    text-align: initial;
    flex: 1 1 33%;
    margin-top: 0;
  }
}
@media (max-width: 395px) {
  .InsuranceProg__wrapper__textBlocks__item {
    flex: initial;
  }
}
@media (max-width: 395px) {
  .InsuranceProg__wrapper__textBlocks__item {
    margin: 0px auto;
    max-width: 140px;
  }
}
.InsuranceProg__wrapper__textBlocks__item .foofoofoo {
  display: flex;
}
@media (max-width: 1000px) {
  .InsuranceProg__wrapper__textBlocks__item .foofoofoo {
    justify-content: right;
  }
}
@media (max-width: 480px) {
  .InsuranceProg__wrapper__textBlocks__item .foofoofoo {
    justify-content: initial;
  }
}
.InsuranceProg__wrapper__textBlocks__item .foofoofoo .transparentText {
  font-family: "SF Pro Display";
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #939CA6;
  white-space: nowrap;
}
@media (max-width: 1000px) {
  .InsuranceProg__wrapper__textBlocks__item .foofoofoo .transparentText {
    font-size: 14px;
  }
}
.InsuranceProg__wrapper__textBlocks__item .foofoofoo .quantityObg {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 21px;
  text-align: center;
  color: #0D1C41;
  margin-left: 12px;
}
@media (max-width: 1000px) {
  .InsuranceProg__wrapper__textBlocks__item .foofoofoo .quantityObg {
    font-size: 18px;
  }
}
.InsuranceProg__wrapper__textBlocks__item .foofoofoo .quantityObg img {
  padding-right: 9px;
  width: 30px;
  height: 14px;
}
.InsuranceProg__wrapper__textBlocks__item .foofoofoo .quantity {
  font-family: "SF Pro Display";
  font-style: normal;
  white-space: nowrap;
  font-weight: 600;
  font-size: 24px;
  line-height: 21px;
  color: #0D1C41;
  margin-left: 12px;
}
@media (max-width: 1000px) {
  .InsuranceProg__wrapper__textBlocks__item .foofoofoo .quantity {
    font-size: 18px;
  }
}
.InsuranceProg__wrapper__textBlocks__item .oofoofoof {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #0D1C41;
  margin-top: 2px;
}
@media (max-width: 395px) {
  .InsuranceProg__wrapper__textBlocks__item .oofoofoof {
    max-width: 170px;
    margin-top: 4px;
  }
}

.before1000pxButton {
  display: block;
}
@media (max-width: 1000px) {
  .before1000pxButton {
    display: none;
  }
}

.after480pxButton {
  display: none;
}
@media (max-width: 480px) {
  .after480pxButton {
    display: flex;
    justify-content: center;
  }
}

.InsuranceProg__empty {
  width: 132px;
  height: 56px;
}/*# sourceMappingURL=InsuranceProg.css.map */